/* hero section styles */
.hero__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	gap: 5rem;
}
.hero__left__wrapper {
	max-width: 350px;
}
.hero__imgWrapper {
	max-width: 400px;
	width: 80%;
	margin: 0 auto;
}
.hero__heading {
	font-family: Poppins;
	font-weight: 600;
	line-height: 1.4em;
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	color: var(--black-1);
}
.hero__info {
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 1.5rem;
	color: var(--black-2);
}
.button__wrapper {
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.hero__wrapper {
		flex-direction: row;
		gap: 0;
	}
	.hero__left {
		flex: 3;
	}
	.hero__right {
		flex: 4;
	}
	.hero__heading {
		font-size: 3.6rem;
		margin-bottom: 2rem;
		text-align: left;
	}

	.hero__info {
		margin-bottom: 2rem;
		text-align: left;
		font-size: 1.8rem;
	}

	.button__wrapper {
		text-align: left;
	}
	.hero__imgWrapper {
		max-width: none;
		width: 90%;
	}
}
@media only screen and (max-width: 900px) {
	.hero__left,
	.hero__right {
		flex: 1;
	}
}
/* EventsInfo Styles*/
.eventsInfo__text {
	color: black;
	font-size: 100px;
}
.eventsInfo__right {
    width: 50%;
    float:right;
}

.eventsInfo__item {
    width: 50%;
    float:left;
}
@media only screen and (min-width: 760px) {
	.eventsInfo__wrapper {
		flex-direction: row;
		gap: 2rem;
	}
	.eventsInfo__left,
	.eventsInfo__right {
		flex: 1;
	}
	.eventsInfo__item {
		padding: 2rem;
		gap: 2rem;
		max-width: 500px;
		margin-bottom: 2rem;
	}
	.eventsInfo__item__title {
		font-size: 2.9rem;
	}
	.eventsInfo__item__text {
		font-size: 2.2rem;
	}
	.eventsInfo__title {
		font-size: 3.6rem;
	}
	.eventsInfo__text {
		max-width: 500px;
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}
}
/* End EventsInfo Styles*/
/* WhyUs Section */
#whyUs{
	padding-top: 200px;	
}

.whyUs__wrapper {
	display:inline-flex;
	align-items:center;
	justify-content:left;
	flex-direction: row;
	gap: 10rem;
}
.whyUs__left {
	text-align: justify;
	float: right;
	width: 50%;
}
.whyUs__title {
	font-family: Poppins;
	font-size: 2rem;
	color: black;
	font-weight: 500;
	margin-bottom: 1rem;
}
.whyUs__text {
	font-size: 2rem;
}
.whyUs__right {
	text-align: center;
	width: 50;
}
.whyUs__items__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}
.whyUs__item {
	background:lightGreen;
	padding: 2rem;
	border-radius: 12px;
}
.whyUs__item__text {
	font-family: Poppins;
	font-size: 1.4rem;
	font-weight: 500;
	color: black;
}